aws_account_id = "REPLACE_WITH_12_DIGIT_AWS_ACCOUNT_ID"

terraform_state_bucket_name = "clouddoc-REPLACE_WITH_12_DIGIT_AWS_ACCOUNT_ID-terraform-state"
github_deploy_identity_role_name = "clouddoc-dev-github-deploy-identity"
